@page "/cmdrs"
@using System.ComponentModel
@using System.Threading;
@using sc2dsstats.Data
@using sc2dsstats.Models
@inject IComponentContext ComponentContext
@inject IJSRuntime JSRuntime
@inject ChartStateChange chartChanged
@implements IDisposable

<h3>Commanders played</h3>
<div class="chart">
    <canvas id="outlabeledChart"></canvas>
</div>

@code {


    bool chartrendered = false;

    protected override void OnInitialized()
    {
        ShowCmdrs();
        chartChanged.PropertyChanged += Update;
    }

    protected override async Task OnAfterRenderAsync()
    {
        // TEMPORARY: Currently we need this guard to avoid making the interop
        // call during prerendering. Soon this will be unnecessary because we
        // will change OnAfterRenderAsync so that it won't run during the
        // prerendering phase.
        if (!ComponentContext.IsConnected)
        {
            return;
        }

        if (chartrendered == false)
        {
            //infoFromJs = await JSRuntime.InvokeAsync<string>(
            //    "setElementValue", myElem, "Hello from interop call");
            ShowCmdrs();
            chartrendered = true;
        }
    }

    private async void Update(object sender, PropertyChangedEventArgs e)
    {
        ShowCmdrs();
    }

    void ShowCmdrs()
    {
        if (chartChanged.Fil.Cmdrs == null) return;
        List<double> piedata = new List<double>();
        List<string> pielabels = new List<string>();
        List<string> piecolors = new List<string>();
        int i = 0;
        foreach (var ent in chartChanged.Fil.Cmdrs.OrderByDescending(o => o.Value))
        {
            i++;
            piedata.Add(ent.Value);
            pielabels.Add(ent.Key);
            piecolors.Add(DSchart.GetChartColorFromLabel(ent.Key).borderColor);
        }
        PieChart piechart = new PieChart();
        piechart.piedata = piedata;
        piechart.pielabels = pielabels;
        piechart.piecolors = piecolors;
        GenPieChart(piechart);
    }

    private async void GenPieChart(PieChart piechart)
    {
        await JSRuntime.InvokeAsync<string>("PieChart", piechart);
        await InvokeAsync(() => StateHasChanged());
    }

    public void Dispose()
    {
        chartChanged.PropertyChanged -= Update;
    }
}